<div class="row">
  <div class="span6 offset3">
    <%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
	<% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
	<% end %>
      </ul>
    </div>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area(:description, :rows => 8) %>

    <%= f.label :owner %>
    <%= f.text_field :owner %>

    <%= f.label :status %>
    <%= f.text_field :status %>

    <%= f.label :milestone %>
    <%= f.text_field :milestone %>

    <%= f.label :estimate %>
    <%= f.number_field :estimate %>

    <%= f.label :spent %>
    <%= f.number_field :spent %>

    <%= f.submit "Save Task", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
