<div class="row">
  <div class="span8 offset2">
    <h1><%= @task.title %></h1>

    <p><%= @task.description %></p>

    <p>
      <strong>Owner: </strong>
      <i class="icon-user"></i> <%= link_to @user.name, @user %>
    </p>

    <p>
      <strong>Status: </strong>
      <%= @task.status %>
    </p>

    <p>
      <strong>Milestone: </strong>
      <%= @task.milestone %>
    </p>

    <p>
      <strong>Estimate: </strong>
      <%= @task.estimate %>
    </p>

    <p>
      <strong>Spent: </strong>
      <%= @task.spent %>
    </p>
    <%= link_to 'Edit Task', edit_task_path(@task), :class => "btn btn-primary" %>
  </div>
</div>

<%= link_to 'Back', tasks_path %>
